


.addGrid {
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 32px;
}


.addGrid:hover {
    background: #F2F2F2
}


.searchGrids {
    height: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    margin-bottom: 5px;
}


.searchGrids:hover {
    cursor: text
}


.grid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    height: 32px;
}

.grid:hover {
    background-color: #F2F2F2 !important;
}

.grid.selected {
    background-color: #F2F2F2;
}

.grid.unselected {
  background: white;
}