.profileContainer {
    position: absolute;
    justify-self: flex-end;
    width: 300px;
    display: flex;
    background-color: white;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 5px;
    margin-right: 15px;
    border-radius: 10px;
}

button {
    height: 30px;
    width: 100%;
    font-size: 13px;
    box-shadow: none !important;
}

button:hover {
    background-color: rgb(237, 237, 237);
}