.arrowButton {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowButton:hover {
    background-color: rgb(230, 230, 230);
}

.blackButton {
    width: 70px;
    height: 25px;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 11px;
    font-weight: 500;
}

.crossButton {
    width: 20px;
    height: 20px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crossButton:hover {
    background-color: rgb(230, 230, 230);
}