

.row:hover > td,
.row:hover > th {
  background-color: #f0f0f0 !important; /* A light gray color */
}

.bell {

}

.bell:hover {
    background-color: rgb(236, 236, 236) !important;
}

.augmentButtons:hover {
    background-color: rgb(236, 236, 236) !important;
}


.bell:disabled {
    cursor: not-allowed;
    background-color: rgb(236, 236, 236);
}

.addRowButton:hover {
    background: white !important
}