html, body, #__next {
    height: 100%;
    margin: 0;
    padding: 0;
}


.backgroundOverlay {
    background-image: url("/homePageBG.png");
    background-size: cover;      /* makes it cover the whole div */
    background-position: center; /* center the image */
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.input {
    width: 500px;
    height: 40px;
    border: solid rgb(156, 156, 156) 0.5px;
    border-radius: 5px;
    font-size: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.input:hover {
    cursor: pointer;
}

button {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }