.add {
    color: grey
}

.add:hover {
    color: black;
}

button {
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}
  

button:hover {
  cursor: pointer;
  
}


.bell:hover {
    background-color: rgb(209, 209, 209) !important;
}


.background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    background-image: url("/baseBg.png");  
    background-repeat: no-repeat;          
    background-size: cover;                
    background-position: center;         
    opacity: 40%;
}